@import '@fontsource-variable/rubik';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
	.margins {
		@apply m-auto w-[min(950px,calc(100%-30px))];
	}

	.nav-margins {
		@apply m-auto w-[min(1100px,calc(100%-12px))];
	}

	.navlink {
		@apply relative flex cursor-pointer items-center justify-center rounded p-2 text-sm font-semibold text-text-3 duration-200 hover:bg-text-3/10;
	}

	.link {
		@apply relative whitespace-nowrap font-[450] text-palette-purple duration-200 after:absolute after:bottom-0 after:left-1 after:h-[50%] after:w-full after:origin-right after:rounded-sm after:bg-palette-purple/10 after:duration-200 hover:after:-left-[2px] hover:after:bottom-[10%] hover:after:h-[80%] hover:after:w-[calc(100%+4px)];
	}

	.btn-primary {
		@apply relative flex h-8 items-center justify-center rounded bg-palette-green text-sm font-[450] text-white duration-200 hover:bg-palette-green-hover;
	}

	.btn-secondary {
		@apply relative flex h-8 items-center justify-center rounded border border-2 bg-bg-2 text-sm font-[450] text-text-3 duration-200 hover:bg-btn-hover;
	}

	.btn-icon {
		@apply relative flex aspect-square h-9 w-9 items-center justify-center rounded-sm border-2 border-transparent bg-bg-2 text-text-3 outline-none duration-200 hover:border-border hover:bg-btn-hover disabled:pointer-events-none disabled:opacity-30;
	}

	.btn-icon-active {
		@apply relative flex aspect-square h-9 w-9 items-center justify-center rounded-sm border-2 border-border bg-btn-hover text-text-3 outline-none duration-200 disabled:pointer-events-none disabled:opacity-30;
	}

	.btn-icon-active-cyan {
		@apply relative flex aspect-square h-9 w-9 items-center justify-center rounded-sm border-2 border-palette-cyan bg-palette-cyan text-text-3 outline-none duration-200 disabled:pointer-events-none disabled:opacity-30;
	}

	.btn-dropdown {
		@apply flex w-full items-center justify-start gap-x-2 rounded-sm border-2 border-transparent px-2 py-1 text-sm font-[450] text-text-3 hover:border-border hover:bg-btn-hover hover:text-text-1;
	}

	.btn-logout {
		@apply flex w-full items-center justify-start gap-x-2 rounded-sm border-2 border-transparent px-2 py-1 text-sm font-[450] text-text-3 hover:border-red-300/30 hover:bg-red-300/10 hover:text-red-500;
	}

	.tooltip-top {
		@apply whitespace-nowrap after:pointer-events-none after:absolute after:bottom-[calc(100%+12px)] after:left-1/2 after:z-10 after:flex after:h-8 after:origin-bottom after:-translate-x-1/2 after:scale-95 after:cursor-default after:items-center after:justify-center after:rounded after:bg-bg-2 after:px-2 after:py-1.5 after:text-xs after:font-[450] after:text-text-3 after:opacity-0 after:shadow after:duration-200 after:content-[--label] hover:after:scale-100 hover:after:opacity-100;
	}

	.tooltip-bottom {
		@apply after:pointer-events-none after:absolute after:left-1/2 after:top-[calc(100%+12px)] after:z-10 after:flex after:h-8 after:origin-top after:-translate-x-1/2 after:scale-95 after:cursor-default after:items-center after:justify-center after:whitespace-nowrap after:rounded after:bg-bg-2 after:px-2 after:py-1.5 after:text-center after:text-xs after:font-[450] after:text-text-3 after:opacity-0 after:shadow after:duration-200 after:content-[--label] hover:after:scale-100 hover:after:opacity-100;
	}

	.tooltip-left {
		@apply whitespace-nowrap after:pointer-events-none after:absolute after:right-[calc(100%+12px)] after:z-10 after:flex after:h-8 after:origin-right after:scale-95 after:cursor-default after:items-center after:justify-center after:rounded after:bg-bg-2 after:px-2 after:py-1.5 after:text-xs after:font-[450] after:text-text-3 after:opacity-0 after:shadow after:duration-200 after:content-[--label] hover:after:scale-100 hover:after:opacity-100;
	}

	.tooltip-right {
		@apply whitespace-nowrap after:pointer-events-none after:absolute after:left-[calc(100%+12px)] after:z-10 after:flex after:h-8 after:origin-left after:scale-95 after:cursor-default after:items-center after:justify-center after:rounded after:bg-bg-2 after:px-2 after:py-1.5 after:text-xs after:font-[450] after:text-text-3 after:opacity-0 after:shadow after:duration-200 after:content-[--label] hover:after:scale-100 hover:after:opacity-100;
	}

	.fixed-headers-start {
		@apply absolute left-4 top-4 flex items-start justify-start gap-3;
	}

	.fixed-headers-end {
		@apply absolute right-4 top-4 flex items-start justify-end gap-3;
	}

	.fixed-footers-start {
		@apply absolute bottom-4 left-4 flex items-end justify-start gap-3;
	}

	.fixed-footers-end {
		@apply absolute bottom-4 right-4 flex items-end justify-end gap-3;
	}

	.fixed-left {
		@apply absolute left-4 top-1/2 flex -translate-y-1/2 transform items-center justify-center gap-3;
	}

	.range {
		@apply appearance-none border-transparent bg-transparent outline-none [&::-moz-range-thumb]:-mt-[5px] [&::-moz-range-thumb]:h-[15px] [&::-moz-range-thumb]:w-[15px] [&::-moz-range-thumb]:rounded-full [&::-moz-range-thumb]:bg-palette-cyan [&::-moz-range-thumb]:hover:bg-palette-cyan-dark [&::-moz-range-track]:h-[6px] [&::-moz-range-track]:bg-bg-1 [&::-webkit-slider-runnable-track]:h-[6px] [&::-webkit-slider-runnable-track]:rounded-full [&::-webkit-slider-runnable-track]:bg-bg-3 [&::-webkit-slider-thumb]:-mt-[5px] [&::-webkit-slider-thumb]:h-[15px] [&::-webkit-slider-thumb]:w-[15px] [&::-webkit-slider-thumb]:appearance-none [&::-webkit-slider-thumb]:rounded-full [&::-webkit-slider-thumb]:bg-palette-cyan [&::-webkit-slider-thumb]:hover:bg-palette-cyan-dark;
	}
}

@layer base {
	:root {
		--palette-green: 0, 190, 90;
		--palette-cyan: 67, 202, 240;
		--palette-magenta: 227, 38, 54;
		--palette-purple: 232, 28, 255;
		--palette-cyan-dark: 24, 190, 237;
		--palette-cyan-light-1: 199, 239, 250;
		--palette-cyan-light-2: 217, 244, 252;
		--palette-green-hover: 0, 180, 94;
	}

	.light {
		--bg-1: 240, 240, 240;
		--bg-2: 254, 254, 254;
		--bg-3: 230, 230, 230;
		--border: 230, 230, 230;
		--text-1: 0, 0, 0;
		--text-2: 47, 51, 54;
		--text-3: 85, 85, 95;
		--text-4: 255, 255, 255;
		--themeicon: 114, 150, 171;
		--btn-hover: 240, 240, 240;
	}

	.dark {
		--bg-1: 45, 45, 50;
		--bg-2: 50, 50, 56;
		--bg-3: 30, 30, 30;
		--border: 70, 70, 70;
		--text-1: 255, 255, 255;
		--text-2: 255, 255, 255;
		--text-3: 230, 230, 230;
		--text-4: 47, 51, 54;
		--themeicon: 255, 207, 57;
		--btn-hover: 65, 65, 65;
	}

	hr {
		@apply border-border;
	}

	html {
		@apply touch-none select-none overflow-x-hidden overflow-y-hidden overscroll-none bg-bg-1 font-rubik;
	}

	h1 {
		@apply text-6xl font-bold text-text-1 max-sm:text-4xl;
	}
	h2 {
		@apply text-4xl font-bold text-text-1 max-sm:text-3xl;
	}
	h3 {
		@apply text-3xl font-bold text-text-1 max-sm:text-2xl;
	}
	h4 {
		@apply text-2xl font-bold text-text-1;
	}
	h5 {
		@apply text-xl font-medium text-text-1;
	}
	h6 {
		@apply text-lg font-medium text-text-1;
	}
	p {
		@apply text-sm text-text-3;
	}
}
